**/.env
**/venv
**/__pycache__
examples/python/annotations/gen/**/*
examples/python/annotations/build/**/*
examples/python/annotations/dist/**/*
!examples/rust/src/gen/mod.rs
examples/rust/src/gen/**/*
examples/rust/target/**/*
examples/go/gen/**/*

rust/target/**/*
rust/protos/**/*

go/protos/**/*
python/protos/**/*
.DS_Store
