examples/rust/target/**/*
**/.env
examples/rust/src/gen/**/*
examples/go/gen/**/*
examples/python/gen/**/*
examples/python/build/**/*
examples/python/venv/**/*
examples/python/dist/**/*
!examples/rust/src/gen/mod.rs
rust/target/**/*
go/protos/**/*
