**/.env
**/venv
**/__pycache__
**/dist

examples/python/annotations/gen/**/*
examples/python/annotations/build/**/*
examples/python/annotations/dist/**/*
examples/rust/annotations/target/**/*
examples/rust/ingestion_with_config/target/**/*
rust/target/**/*
rust/protos/**/*

go/protos/**/*
python/protos/**/*
.DS_Store

python/build
python/docs/sift_py
*.egg-info/
