[project]
name = "sift_py"
version = "0.1"
description = "Python client library for the Sift API"
dependencies = [
  # https://grpc.github.io/grpc/python/
  "grpcio==1.64.1",
  # https://googleapis.dev/python/protobuf/latest/
  "protobuf==5.27.1",
  # https://grpc-interceptor.readthedocs.io
  "grpc-interceptor==0.15.4",
  # https://pyyaml.org/wiki/PyYAMLDocumentation
  "PyYAML==6.0.1",
  "types-PyYAML==6.0.12.20240311",
]

[project.optional-dependencies]
development = [
  "pytest", # test framework
  "black", # formatter
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["lib"]

# The formatter
[tool.black]
line-length = 100
target-version = ['py38']
include = '\.pyi?$'
