[project]
name = "sift_py"
version = "0.1"
description = "Python client library for the Sift API"
dependencies = [
  # https://grpc.github.io/grpc/python/
  "grpcio==1.64.1",
  # https://googleapis.dev/python/protobuf/latest/
  "protobuf==5.27.1",
  # https://grpc-interceptor.readthedocs.io
  "grpc-interceptor==0.15.4",
  # https://pyyaml.org/wiki/PyYAMLDocumentation
  "PyYAML==6.0.1",
  "types-PyYAML==6.0.12.20240311",
]

[project.optional-dependencies]
development = [
  "pytest", # test framework
  "ruff", # formatter + linter
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["lib"]

[tool.ruff]
line-length = 100
indent-width = 4
target-version = "py38" # Python 3.8
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "lib/sift",
    "lib/google",
    "lib/protoc_gen_openapiv2",
]
