[project]
name = "sift_stack_py"
version = "0.1.0-rc.3"
description = "Python client library for the Sift API"
requires-python = ">=3.9"
readme = {file = "README.md", content-type = "text/markdown"}
license = {file = "LICENSE"}
classifiers  = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
maintainers = [ {name = "Sift Software Engineers", email = "engineering@siftstack.com"} ]
keywords = [
  "sift",
  "sift-stack",
  "siftstack",
  "sift_py",
]
dependencies = [
  "typing-extensions==4.12.2",
  # https://grpc.github.io/grpc/python/
  "grpcio==1.64.1",
  # https://googleapis.dev/python/protobuf/latest/
  "types-protobuf==5.26.0.20240422",
  "protobuf==5.27.1",
  # https://grpc-interceptor.readthedocs.io
  "grpc-interceptor==0.15.4",
  # https://pyyaml.org/wiki/PyYAMLDocumentation
  "PyYAML==6.0.1",
  "types-PyYAML==6.0.12.20240311",
]

[project.urls]
Homepage = "https://github.com/sift-stack/sift/tree/main/python"
Documentation = "https://docs.siftstack.com/"
Repository = "https://github.com/sift-stack/sift/tree/main/python"
Changelog = "https://github.com/sift-stack/sift/tree/main/python/CHANGELOG.md"

[project.optional-dependencies]
development = [
  "mypy==1.10.0",

   # testing tools
  "pytest==8.2.2",
  "pytest-benchmark==4.0.0",
  "pytest-mock==3.14.0",
  "grpcio-testing==1.64.1",

  # formatter + linter
  "ruff",
]
build = [
  "pdoc==14.5.0",
  "build==1.2.1",
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.mypy]
python_version = "3.9"

# No official typing stubs for Python gRPC libraries yet.
# https://github.com/grpc/grpc/issues/29041
[[tool.mypy.overrides]]
module = "grpc_testing"
ignore_missing_imports = true
ignore_errors = true

[[tool.mypy.overrides]]
module = "grpc"
ignore_missing_imports = true
ignore_errors = true

[[tool.mypy.overrides]]
module = "grpc.aio"
ignore_missing_imports = true
ignore_errors = true

[tool.setuptools.packages.find]
where = ["lib"]

[tool.ruff]
line-length = 100
indent-width = 4
target-version = "py39" # Python 3.9
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "lib/sift",
    "lib/google",
    "lib/protoc_gen_openapiv2",
]

[tool.ruff.lint]
select = ["F", "W", "I", "N", "TID"]
