name: lint-go

on:
  release:
    types: [created]
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          working-directory: go
