name: python-ci

on:
  release:
    types: [ created ]
  pull_request:
  push:
    branches:
      - main
  workflow_call:

jobs:
  test-python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: python
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Pip install
        id: install
        run: |
          python -m pip install --upgrade pip
          pip install '.[development,data_review,openssl,tdms,rosbags,hdf5,sift-stream]'

      - name: Lint
        run: |
          ruff check

      - name: Format
        run: |
          ruff format --check

      - name: MyPy
        run: |
          mypy lib

      - name: Pyright
        run: |
          pyright lib

      - name: Pytest Unit Tests
        run: |
          pytest -m "not integration"

      - name: Pytest Integration Tests
        env:
          SIFT_GRPC_URI: ${{ vars.SIFT_GRPC_URI }}
          SIFT_REST_URI: ${{ vars.SIFT_REST_URI }}
          SIFT_API_KEY: ${{ secrets.SIFT_API_KEY }}
        run: |
          pytest -m "integration"

      - name: Sync Stubs Mypy
        working-directory: python/lib
        run: |
          stubtest \
          --mypy-config-file ../pyproject.toml \
          sift_client.resources.sync_stubs