name: python-ci

on:
  release:
    types: [created]
  pull_request:
  push:
    branches:
      - main

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Pip install
        working-directory: python
        run: |
          python -m pip install --upgrade pip
          pip install '.[development]'
          pip install .

      - name: Lint
        working-directory: python
        run: |
          ruff check
          
      - name: Format
        working-directory: python
        run: |
          ruff format --check

      - name: MyPy
        working-directory: python
        run: |
          mypy lib

      - name: Pytest
        working-directory: python
        run: |
          pytest
