name: Crates Publish

on:
  workflow_dispatch:

jobs:
  rust-ci:
    if: github.event_name == 'workflow_dispatch' && startsWith(github.ref, 'refs/tags')
    uses: ./.github/workflows/rust_ci.yaml

  publish-to-crate-io-sift_rs:
    runs-on: ubuntu-latest
    name: Publish to crates.io for sift_rs
    needs: rust-ci
    environment:
      name: crates.io (dry run)
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          path: './rust/crates/sift_rs'

  publish-to-crate-io-sift_error:
    runs-on: ubuntu-latest
    name: Publish to crates.io for sift_error
    needs: rust-ci
    environment:
      name: crates.io (dry run)
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          path: './rust/crates/sift_error'

  publish-to-crate-io-sift_connect:
    runs-on: ubuntu-latest
    name: Publish to crates.io for sift_connect
    needs: rust-ci
    environment:
      name: crates.io (dry run)
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          path: './rust/crates/sift_connect'

  publish-to-crate-io-sift_stream:
    runs-on: ubuntu-latest
    name: Publish to crates.io for sift_stream
    needs: rust-ci
    environment:
      name: crates.io (dry run)
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          path: './rust/crates/sift_stream'
